.widget {
    width: 80%;
    margin: auto;
}

.news_item {
    margin-top: 10px;
}

.news_pic {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.exchange {
    margin-top: 10px;
}

.exchange_item {
    margin-right: 10px;
}

.exchange_item_cur1, .exchange_item_cur2, .exchange_item_val {
    margin-right: 10px;
    font-weight: bolder;
}

.exchange_item_dyn {
    font-size: 13px;
    color: darkgray;
}

.ss_link {
    margin-right: 10px;
}

.fast_funcs {
    margin-top: 20px;
}

.wrapper {
    max-width: 1000px;
}

.search_field {
    width: 100%;
}

.search_field > input {
    width: 100%;
    margin-top: 10px;
    height: 40px;
    border: 2px solid #fc0;
    border-radius: 15px;
    z-index: 10;
}

div > button {
    border-radius: 15px;
    height: 40px;
    background-color: #fc0;
    border: 0;
    margin-top: 10px;
    z-index: 1;
    right: 0;
}

.button__text {
    font-size: 1.0625rem;
    font-weight: 500;
    color: #000;
    letter-spacing: -.015em;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
}

.banner {
    margin-top: 20px;
    width: 80%;
    max-width: 1000px;
    height: auto;
}

.column {
    padding-top: 30px;
    padding-right: 60px;

}

.bottom_block {
    margin-bottom: 20px
}


.block_header > h3 {
    color: #3a5bb4;
    margin-bottom: 10px;
    margin-right: 10px;
}

.visit > li > a > span {
    font-weight: bolder;
}

ul > li {
    margin-bottom: 10px;
}

span.grey {
    color: #989ea2;
}

.block_header_pic {
    border-radius: 7px;
    height: 25px;
}

li > .playIcon {
    margin-right: 5px;
}

li > a, .news_item > a {
    color: black;
}

.weather_temperature_big {
    font-size: 30px;
    margin-right: 10px;
    font-weight: bolder;
}

.weather_pic {
    width: 50px;
    height: 50px;
}

.news_icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

